.dashboard_Links{
    background: #413F3F 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    margin: 0 20px;
    border-radius: 10px;
}


.dashboard_Links_Container {
    padding: 0px 0;
    text-align: center;
}


.dashboard_Links_Container .tabsChanging{
    text-align: center;
    font: normal normal normal 10px/20px Montserrat;
    letter-spacing: 0px;
    color: #A4A4A4;
    text-transform: uppercase;
    padding: 20px 0 ;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.dashboard_Links_Container img{
    width: 34px;
    height: 34px;
    margin-bottom: 5px;
}


a.curve{
    border-radius: 10px 10px 0 0  ;
}