.howCanHelpSection{
    padding: 60px 0;
    background-image: url(../../assets/images/helpbg-bottom.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 50%;
}
.howCanHelpSection .innerHead h1{
    font: normal normal normal 40px/53px Playfair Display;
    letter-spacing: 2.16px;
    color: #fffef7;
    text-transform: uppercase;
    position: relative;
    padding: 20px 0 40px;
}
.howCanHelpSection .innerHead h1::after {
    position: absolute;
    content: " ";
    width: 180px;
    height: 4px;
    background-color: #7a7554;
    top: 70%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
}
.howCanHelpSection .innerHead h6{
    font: normal normal normal 19px/29px Josefin Sans;
    letter-spacing: 0px;
    padding-bottom: 20px;
    color: #d7d7d7;
}

.flip_Box_Front {
     background: #fff;
    border: 1px solid #dcdcdc75;
    border-radius: 4px;
    box-shadow: -1px 4px 10px 1px #0000004f;
    margin-bottom: 120px;
    padding: 10px 10px 10px 20px;
}






.flip_Box_Front img{
    padding-top: 20px;
}

.howCanHelpSection .innerDivMain .flip_Box_Front h5{
    position: relative;
    font: normal normal normal 25px/29px Playfair Display;
    letter-spacing: 1.35px;
    color: #7a7554;
    padding: 15px 0 10px;
    text-transform: uppercase;
}
.howCanHelpSection .innerDivMain .flip_Box_Front h5::after {
    position: absolute;
    content: " ";
    width: 65px;
    height: 4px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #7a7554;
    border-radius: 5px;
}
.howCanHelpSection .innerDivMain .flip_Box_Front h6{
    letter-spacing: 0px;
    color: #d7d7d7;
    padding: 0px 0 15px 0;
    height: 290px;
    overflow-y: auto;
    padding-right: 13px;
    text-align: justify;
    font-size: 17px;
    color: #000;
    font-family: 'Josefin Sans';
    margin-top: 15px;
}
.howCanHelpSection .innerDivMain .flip_Box_Front button{
    font: normal normal 300 14px/26px Josefin Sans;
    letter-spacing: 0px;
    color: #7a7554;
}






.howCanHelpSection .innerDivMain .flip_Box_Front h6::-webkit-scrollbar {
	width: 4px;
}
/* Track */

.howCanHelpSection .innerDivMain .flip_Box_Front h6::-webkit-scrollbar-track {
	background: #d4d4d4 ;
}
/* Handle */

.howCanHelpSection .innerDivMain .flip_Box_Front h6::-webkit-scrollbar-thumb {
	background:  #7a7554;
}
/* Handle on hover */

.howCanHelpSection .innerDivMain .flip_Box_Front h6::-webkit-scrollbar-thumb:hover {
	background: #000000;
}







@media (max-width: 1024px) {
    .howCanHelpSection .innerHead h1{
        font: normal normal normal 30px/53px Playfair Display;
        letter-spacing: 2px;
    }
}
