.collageContent h1{
    font: normal normal normal 40px/40px Playfair Display !important;
    letter-spacing: 2.16px !important;
    color: #7a7554;
    text-transform: uppercase;
    padding: 0 0 20px 0;
}

.collageContent  h6{
    font: normal normal normal 17px/30px Josefin Sans !important;
    letter-spacing: 0px;
    color: #B8B8B8;
}


.aboutParentBox{
    padding: 50px 0 ;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}