.browseMainWrap {
    padding: 80px 0;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}
.browseMainWrap h1{
    text-align: center;
    font: normal normal normal 55px/74px Playfair Display;
    letter-spacing: 0px;
    color: #000000;
    padding-bottom: 20px;
    opacity: 1; 
}

.browseMainWrap h5{
    font: normal normal normal 19px/31px Montserrat;
    letter-spacing: 0px;
    color: #A4A4A4;
    text-align: center;
}






.browseMainWrap .innerComponent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 19px #00000017;
    border-radius: 15px;
}

.browseMainWrap .InnerImg{
    margin-right: 25px;
}



.browseMainWrap .innerComponent {
  text-align: left;
}


.browseMainWrap .innerComponent h4 {
    font: normal normal 600 29px/35px Montserrat;
    letter-spacing: 0px;
    color: #000000;
}

.browseMainWrap .innerComponent h6{
    font: normal normal normal 18px/25px Montserrat;
    letter-spacing: 0px;
    color: #A4A4A4;
    padding: 5px 0 0;
}


.browseMainWrap .innerComponent a{
    background: #7A7554 0% 0% no-repeat padding-box;
    border-radius: 20px;
    text-align: left;
    margin-top: 15px;
    padding: 10px 20px;
    color: #fff;
    display: inline-flex;
}

.browseMainWrap .innerComponent a svg{
    font-size: 19px;
    padding-left: 11px;
}