.MainWrap{
    padding: 100px 0;
}


.bigImg{
    margin: 0 auto 50px !important;
    width: 80% !important;
    height: 600px !important;
    border: none !important;
    position: relative;
    outline: none !important;
}


.bigImg img{
    width: auto !important;
    height: 100% !important;
    border-radius: 2px;
    position: relative;
} 






.smallImg{
    width: 90% !important;
    height: 120px;
    position: relative;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
}

.smallImg:hover{
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
}



.slick-arrow {
    color: #000 !important;
}

.MainWrap h1 {
    font: normal normal normal 40px/53px Playfair Display;
    letter-spacing: 2.16px;
    color: #7A7554;
    text-transform: uppercase;
    position: relative;
    opacity: 1;
    text-align: center;
    margin-bottom: 50px;
}



.MainWrap  h1:after {
    position: absolute;
    width: 200px;
    content: "";
    height: 3px;
    background-color: #7A7554;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}









@media screen and (max-width: 600px) {


    .smallboX{
        display: none !important;
    }


    
.MainWrap h1 {
    font: normal normal normal 32px/35px Playfair Display;
    letter-spacing: 2.16px;
}





.bigImg{
    width: 85% !important;
    height: 340px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.bigImg img{
    width: 100% !important;
    height: auto !important;
}



.smallImg{
    width: 90% !important;
}

.MainWrap  h1:after {
    bottom: -10%;
}



.MainWrap{
    padding: 60px 0;
}





}
















.yarl__navigation_prev, 
.yarl__navigation_next{
    display: none !important;
}




.bigImg{
    position: relative;
    background: #ffffff2b;
    padding: 0px;
    border-radius: 4px;
    transition: 0.5s;
    border: 1px solid #7a75545e !important;
}

.bigImg:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 8px #0000003b;
}

.bigImg:hover .iconsMain{
    opacity: 1;
}





.iconsMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.iconsMain .leftIcon{
    position: absolute;
    top: 4%;
    left: 3%;
}

.iconsMain .RightIcon{
    position: absolute;
    top: 4%;
    right: 3%;
}


.iconsMain svg{
    background: #fff;
    padding: 3px 8px;
    border-radius: 35%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.5s;
}


.iconsMain svg:hover {
    background:#1BD214;
    color: #fff;
}




@media (max-width: 1480px) { 
    .bigImg img{
        width: 100% !important;
    } 
    
}


@media (max-width: 1200px) {
    .smallboX {
        display: none !important;
    }
    
}


