.aboutRefundPolicy h1 {
  font: normal normal normal 40px/40px Playfair Display !important;
  letter-spacing: 1.5px !important;
  color: #7a7554;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.aboutRefundPolicy h6 {
  color: #B8B8B8;
    font-family: "Josefin Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: 34px;
}



.aboutParentBox{
  height: 70vh;
}
