section.BrowseImagesSection{
    padding: 50px 0 150px 0;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}


section.BrowseImagesSection h1{
    font: normal normal normal 55px/74px Playfair Display;
    letter-spacing: 0px;
    padding: 60px 0 50px;
    color: #000000;
}


section.BrowseImagesSection h3{
    text-align: center;
    font: normal normal normal 35px/47px Playfair Display;
    letter-spacing: 0px;
    padding: 10px 0;
    margin: 0 !important;
    color: #FFFFFF;
    width: 100%;
}

section .bgBox{
    position: relative;
    transition: 0.5s;
   background: #2E2E2E 0% 0% no-repeat padding-box;
}

section .bgBox a:hover,
section .bgBox a{
    position: absolute;
    top: 0;
    opacity: 0;
    left: 50%;
    transition: 0.5s;
    background: #1BD214 0% 0% no-repeat padding-box;
    border-radius: 27px;
    text-align: center;
    font: normal normal medium 20px/31px Montserrat;
    letter-spacing: 0px;
    padding: 8px 40px;
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;
}

section .bgBox:hover a{
    top: 48%;
    opacity: 1;
    z-index: 10;
}





@media (max-width: 576px) {
    section.BrowseImagesSection h1{
        font: normal normal normal 42px/40px Playfair Display;
        padding: 0px 0 20px;
    }

    section.BrowseImagesSection h3{
        font: normal normal normal 30px/38px Playfair Display;
        padding: 4px 0 10px;
    }
}