.thankyouMainWrap{
    padding: 50px 0;
    background: #F5F5F5 0% 0% no-repeat padding-box;
} 

.bannerWrap{
    width: 100%;
    height: 100%;
}


.bannerWrap img{
    object-fit: contain;
    object-position: center;
    max-width: 500px;
    max-height: 1000px;
}


.headingTops h3{
    padding-top: 0;
    margin-top: 0;
}


.cartBoxMain {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 35px;
    margin: 0 0 20px;
    padding: 10px;
}

.cartImage img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 30px;
    width: 90%;

}

.cartImage{
    position: relative;
    text-align: center;
}



.cartBoxTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cartBoxUses{
    margin-top: 10px;
}


.cartBoxUses h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    display: block;
    color: #1D1D1D;
}



.cartDetails h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #1D1D1D;
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 4px;
}


.spaninner ,
.cartDetails h3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    display: block;
    color: #9B9B9B;
}


.spaninner{
    display: inline;
}


.cartDetails h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #1D1D1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0px 20px 0;
}

.cartDetails  h4 span{  
    font-size: 15px;
    font-weight: 500;
}





.cartDetails button{
    width: 100%;
    text-align: center;
    background: #7a7554;
    padding: 10px 0;
    color: #fff;
    border-radius: 25px;
    transition: 0.5s;
}

.cartDetails button:hover {
    background: #000000;
    color: #ffffff;
}